@page
@model PasswordlessIdentityServer.Pages.Account.Passwordless.Login.Index

If you do not have an account, please click <a class="btn btn-secondary" asp-page="/account/register/index">here</a> to register.

<h2>Login</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="EMailAddress"></label>
        <input asp-for="EMailAddress" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>